@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right menucontainer">
    @if (User.IsInRole("Customer"))
    {
        <li class="nav-links a">
            @Html.ActionLink("View Profile", "Profile", "Customer", new { id = ViewBag.Message }, null)
            </li>
    }

    <li class=" nav-links a"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right menucontainer">
        <li class=" nav-links a">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>
        <li class=" nav-links a">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</li>
    </ul>
}
